[submodule "external/YAKL"]
	path = external/YAKL
	url = git@github.com:mrnorman/YAKL.git
[submodule "external/ponni"]
	path = external/ponni
	url = git@github.com:mrnorman/ponni.git
[submodule "external/yaml-cpp"]
	path = external/yaml-cpp
	url = git@github.com:jbeder/yaml-cpp.git
